#mainTitle {
    text-align: center;
}

#titlePara {
    text-align: center;
}

#cagLogo {
    width: 120px;
    height: 120px;
}

#footer {
    height: 150px;
}

#discordIcon {
    height: 100px;
    width: 100px;
}